@charset "UTF-8"; /* Caso haja problemas com acentuação */

@import url(https://www.dafontfree.io/one-day-font-free/);

@font-face {
    font-family: "Fonte-Moderna";
    src: url(ONEDAY.ttf)
    format('opentype');
}

body {
    background-image: linear-gradient(-90deg, #2E3159, #8588c0, #191659);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(#A0D9D9, #45858C);
    margin: 3px;
    padding: 99px;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Fonte-Moderna';
    text-align: center;
    height: 16px;
    font-size: 3em;
}

header > p {
    text-align: center;
    height: 50px;
    font-size: 2em;
    color: white;
}

main {
    width: auto;
    color:rgb(2, 2, 2)
}
#caixa_principal {
    height: auto;
    background-color: #ffffff96;
    width: 560px;

    margin: auto;

    padding: 100px;

    border-radius: 20px 0px;
}
section {
    height: 267px;
    width: 369px;
    background-color: #ffffff96;
    border-radius: 0% 7% 7% 7%;
}

#video {
    padding-inline: 100px;
}