@charset "UTF-8"; /* Caso haja problemas com acentuação!! */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
p {
    text-align: justify;
    text-indent: 20px;
}

.dir {
    text-align: left;
}

.classRecursos {
    background-color: #F9FF88;
}

.classAtualizacao {
    background-color: #F9FF88;
    text-align: center;
}