@charset "UTF8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #BF8845, #8C612B);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #855b29b0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:  #F2A341;
    text-align: center;
    text-shadow: 1px 1px 2px #a36d2bb4;
}

h2 {
    color: #4C594E;
}

p {
    text-align: justify;
}