@charset "UTF-8";   /*  Regra @charset caso haja problemas com acentuação*/

body{
    background-color: rgb(93, 129, 129);                     /* COR DE FUNDO */
    font-family: Arial, Helvetica, sans-serif;                 /* Fonte das letras */
    color: rgb(0, 0, 0);                                     /* Cor das letras */
    font-size: 120%;                                           /* Tamanho da fonte */
}
h1{
    background-color: rgb(124, 239, 243);                    /* Cor dos H1 */
}

h2 {
    color: rgb(196, 0, 0);                                   /* Cor dos H2 */
}